/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
    width: 984px;
}

.header:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
/* hint! what do you have to add here? */

.logo {
    float: left;
}

.navigation {
    float: right;
}

.sidebar {
    float: left;
    width: 250px;
    height: 500px;
}

.main-content {
    width: 984px;
}

.main-content:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
/* hint! you have to contain the floated children elements. */

.sub-content {
	/* hint! */
    float: right;
    width: 600px;
    height: 200px;
    margin: 0px 0px 10px 0px;
}
.sub-content-2 {
	/* hint! */
    float: right;
    width: 600px;
    height: 200px;
    margin: 10px 0px 10px 0px;
}

.footer {
    clear: both;
}
