/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 04 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header {
    width: 984px;
}

.header:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
/* hint! you have to contain the floated children elements. */

.logo {
	/* hint! */
    float: left;
}

.navigation {
	/* hint! */
    float: right;
}

.sidebar {
    float: left;
    width: 250px;
    height: 300px;
}

.main-content {
    float: left;
    width: 734px;
    height: 300px;
}

.footer {
    clear: both;
}
