/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 80%; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}

.header {
    width: 100%;
}

.header:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.logo {
    float: left;
    width: 25%;
}

.navigation {
    float: right;
    width: 70%;
}

.sidebar {
    float: left;
    width: 25%;
}

.main-content {
    width: 100%;
}

.main-content:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.sub-content {
    float: right;
    width: 70%;
}

.sub-content-2 {
    float: right;
    width: 70%;
}

.footer {
    clear: both;
}
